/* Footer block section  */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #696969;
  color: #3b7572;
  text-align: center;
}

footer .footer-stripe {
  height: 6px;
  background-color: #0f437e;
}

footer p {
  margin-top: 13px;
}
